body {
    max-width: 80vw;
    margin: 5vh auto;
}

* {
    font-family: 'consolas', 'Courier New', Courier, monospace;
}

#todos {
    margin-top: 5px;
}

#calculator {
    
    border: 3px groove #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: fit-content;
    max-width: 20%;
    margin: auto;
    gap: 2em;
    padding: 1em;
}

#screen {
    border: 2px solid black;
    border-radius: 5px;
    text-align: end;
    background-color: rgb(224, 242, 245);
    padding-right: 2%;
}

#stored_value {
    color: rgba(128, 128, 128, 0.63);
}

#display_value {
    font-size: 2em;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr .55fr;
    grid-template-rows: 1fr .3fr .2fr;
}

#number_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

button {
    font-size: 1em;
    font-weight: bold;
    width: 100%;
}

/* place 0 button last number*/
#number_buttons > :first-child {
    order: 1;
}

.equals_button {
    order: 2;
    grid-column: span 2;
    margin-top: 1em;
}
.number_button, .operator_button {
    margin-top: 1em;
}

.number_button {
    padding: .2em;
}

.operator_button {
    font-size: 1em;
    width: 50%;
}

#operator_buttons {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    gap: 1em;
}

#operator_buttons > :last-child {
    padding: .2em;
}

#other_buttons {
    display: flex;
    flex: auto;
    gap: .8em;
    justify-content: space-between;
    grid-row-start: 3;
    grid-column: span 2;
}

#other_buttons button {
}

.equals_button {
    
}

#error_message {
    color: red;
    font-weight: bolder;
    text-align: center;
    font-size: larger   ;
    margin-top: 1em;
}