body {
    max-width: 80vw;
    margin: 5vh auto;
}

* {
    font-family: 'consolas', 'Courier New', Courier, monospace;
}

#calculator {
    
    border: 3px groove #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: fit-content;
    max-width: 30%;
    margin: auto;
    gap: 2em;
    padding: 1em;
    background-color: rgb(152, 180, 212)
}

#screen {
    border: 2px solid black;
    border-radius: 5px;
    text-align: end;
    background-color: rgb(255, 255, 255);
    padding-right: 2%;
}

#stored_value {
    color: rgba(128, 128, 128, 0.63);
}

#display_value {
    font-size: 2em;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr .6fr;
    grid-template-rows: 1fr .2fr;
}

#number_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

button {
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    height: 100%;
    background-color: white;
}

button:active {
    background-color: rgb(127, 205, 205);
}

button:hover {
box-shadow: 1px 3px 1px 1px lightblue;
}

/* place 0 button last number*/
#number_buttons > :first-child {
    order: 1;
}

.equals_button {
    order: 2;
    grid-column: span 2;
    margin-top: 1em;
}
.number_button, .operator_button {
    margin-top: 1em;
}


.operator_button {
    font-size: 1em;
}

#operator_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: fit-content;
    width: 70%;
    gap: 1em;
    margin-left: 3em;
}


#other_buttons {
    margin-top: 1em;
    display: flex;
    flex: auto;
    gap: 1em;
    justify-content: space-between;
    grid-row-start: 2;
    align-self: end;
    grid-column: span 2;
    height: 30%;
    width: 100%;
    margin-top: 20%;
}

#error_message {
    color: red;
    font-weight: bolder;
    text-align: center;
    font-size: larger   ;
    margin-top: 1em;
}